
<h3>The form below is to add a movie to an existing genre at the directory.<br>
      If you'd like to add a new movie AND genre,
    <%=link_to 'click here', new_genre_path %>.</h3>


<%= form_for @movie, html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.label :title, "Title" %><br>
    <%= f.text_field :title %>
  </div><br>

 <div class="field">
    <%= f.label :year, "Year" %>
    <%= f.text_field :year %>
  </div>
  <br>
  <div class="field">
      <%= f.label :director, "Director:"%><br>
      <%= f.text_field :director%><br>
      <br>
    </div>

  <div class="field">
    <%= f.label :description, "Write a short Movie Summary:" %><br>
    <%= f.text_area :description, size: "24x6" %>
  </div>

  <h3> Choose a genre: </h3>
       <%= f.collection_radio_buttons :genre_id, Genre.all, :id, :name %>
      <br>

   <%= f.submit class: 'btn btn-success' %>

   <% end %>


   