<!-- list director's movie in table format? -->

<h3> <%= @director.name %>'s Movies </h3>

<p> sort by format, title, user_watched</p>

<p><%= pluralize(@director.movies.count, 'Movies') %>| <%= link_to "Add New Movie", new_director_movie_path(@director) %><br></p>

<p><%= link_to "Add New Movie", new_director_movie_path(@director) %><br></p>

<%= @director.movies.each do |movie| %>
  <h2> <%= link_to movie.title, director_movie_path(movie) %> </h2>
  <p> Have I watched this movie? <%= movie.user_watched %> </p>
<% end %>


