<!-- list director's movie in table format? -->

<h3> <%= @movie.director.name %>'s Artworks </h3>

<p><%= pluralize(@director.movies.count, 'Movies') %></p>

<p><%= link_to "Add New Movie", new_director_movie_path(@director) %><br></p>

<%= @director.movies.each do |movie| %>
  <h2> <%= @movie.title %> </h2>
  <p> Have I watched this movie? <%= @movie.user_watched %> </p>
<% end %>


