<h2> <%= @movie.title %> </h2>
<p>Genre:</p>
    <ul style="list-style-type: none">
      <% @movie.genres.each do |genre| %>
        <li> <%= genre.name %> </li>
      <% end %>
    </ul>
    <p> Rating: <%= @movie.rating %> </p>
    <p> Comments: <%= @movie.comments %> </p>


<h4>You've watched this movie</h4>
<p> Have I watched this movie? <%= @movie.user_watched %> </p>

<p><%= link_to "Show All #{@director.name} Movies", director_path(@director) %> | <%= link_to "Edit Movie", edit_director_movie_path %> | <%= link_to "Delete Movie", director_movie_path, method: :delete, data: {confirm: "Are you sure you want to delete this Movie?"} %> </p>