<h2> <%= @movie.title %></h2>
<h3>Director: <%= @movie.director %></h3>
<h4><%= @movie.year %></h4>
<p><strong>Description:</strong> <%= @movie.description %></p>

<p><strong>Availability:</strong></p>
   <% if @movie.available? %>
       <p>This movie is available.</p>
          <p><%= button_to 'Favorite this movie', favorite_path %></p>
          <% else %>
             <p><strong>Sorry, this movie isn't available. </strong></p>
          <% end %>
          <p> <%= button_to 'Add to Watched Movies', watched_path %></p>
 
 <h2>Comments</h2>
   <% if @movie.comments != [] %>


         <% @movie.newest_comment.each do |comment| %>

       <li><strong>Comment by <%=comment.user.username%></strong></li><br>
       <%= comment.body %>
         
         <div class="new">
         </div>
           <% if comment.user_id == current_user.id %>
           <%= link_to 'Delete Comment', movie_comment_path(@movie, comment), method: :delete %><br>
           <% end %>
        <% end %>

        <h3> See what other film fans have to say about this movie: </h3>
     <br>
     <%= link_to "Click here to load all of #{@movie.title}'s comments", movie_comments_path(@movie), class: "all_comments" %>
     <div class="comments">

     </div>

   <% else %>
      <p>There are no comments yet. Add yours below!</p>
      <%= link_to "Add a new comment", new_movie_comment_path(@movie) %>
   <% end %>



