<h2> <%= @movie.title %></h2>
<h3>Director: <%= @movie.director %></h3>
<h4><%= @movie.year %></h4>
<p><strong>Description:</strong> <%= @movie.description %></p>


<p><strong>Availability:</strong></p>
   <% if @movie.available? %>
       <p>This movie is available.</p>
          <p><%= button_to 'Add to Watched Movies', watched_path %></p>
          <% else %>
             <p><strong>Sorry, this movie isn't available. </strong></p>
          <% end %>

          

 <h2>Comments</h2>
   <% if @movie.comments != [] %>


    <div class="new_comment">
         <% @movie.newest_comment.each do |comment| %>
         <strong>Comment by <%= comment.user.username%></strong><br>
         <%= comment.body %>
         <br>
         <br>
           <% if comment.user_id == current_user.id %>
           <%= link_to 'Delete Comment', movie_comment_path(@movie, comment), method: :delete %><br>
           <% end %>
        <% end %>
     </div>


     <%= link_to "Click here to load all of #{@movie.title}'s comments", movie_comments_path(@movie), class: "all_comments" %>
     <div class="comments">

     </div>

   <% else %>
      <p>There are no comments yet. Add yours below!</p>
   <% end %>

   <h2>Add a comment:</h2>

 <%= form_for([@movie, @comment]) do |f| %>
   <%= f.text_area :body %>
   <p><%= f.submit %></p>
<% end %>



