<h2> <%= @movie.title %> </h2>
<p> Genre: <%= @movie.genre %> </p>
<p> Rating: <%= @movie.rating %> </p>
<p> Comments: <%= @movie.comments %> </p>

<h4>You've watched this movie</h4>
<p> Have I watched this movie? <%= @movie.user_watched %> </p>
