<%= form_for @director do |f| %>
<%= render 'shared/form_errors', target: @director %>

  <div class="field">
    <%= f.label :name, "Director's Name" %><br>
    <%= f.text_field :name %>
  </div><br>
  <div class="field">
    <%= f.label :discovered, "How did you find this Director?" %><br>
    <%= f.text_field :discovered %>
  </div><br>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.text_field :rating %>
  </div><br>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div><br>
    <%= f.submit %>
  </div>
<% end %>