<div class="container_show">

  <h1>All Directors</h1>

  <div class="add_director">

    <p><%= pluralize(@directors.count, 'Directors') %></p>
    <h4><%= link_to "Add a New Director", new_director_path %></h4>
  
  </div>
</div>

<!-- list all directors; filter by abc order last name and first name -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>Director's Name</th>
      <th>No. of Movies</th>
      <th>Rating</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @directors.each do |d| %>
    <tr>
      <td><%= link_to d.name, director_path(d) %></td>
      <td><%= link_to d.movies.count, director_movies_path(d) %></td>
      <td><%= d.rating %></td>
      <td><%= link_to "Edit", edit_director_path(d) %></td>
      <td><%= link_to "Delete", d, method: :delete, data: {confirm: "Are you sure you want to delete this Director?"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
