<nav class="navbar navbar-expand-lg navbar-fixed-top" id="mainNav">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/"> logo </a>
    </div>
  
        <ul class="nav navbar-nav ml-auto">
        <% if !!current_user %>
            <li class="nav-item">
              <%= link_to "Home", root_path %>
              <%= link_to "Your Directors", directors_path %>
              <%= link_to "Theaters" %>
              <%= link_to "Film History" %>
              <%= link_to "Genres" %>
              <%= link_to "Profile", user_path(current_user) %>
              <%= link_to logout_path, method: :delete, class: 'nav-link' do %>
                  <span class="log-out"></span> Sign Out
              <% end %>
            </li>
        <% else %>
           
        <% end %>
        </ul>
    
    </div>
  </nav>