<!DOCTYPE html>
<html>
  <head>
    <title>FilmFanRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>

    <%= render 'layouts/header' %>
    <%= render 'shared/flash_messages' %>

    <div id="main-container" class="container">
    
      <%= yield :form_errors %>

      <%= yield %>
    </div>


  </body>

  
    
</html>


